/**
 * @作者: Seale
 * @时间: 2021/5/12
 * @版本: V1.0
 * @声明: 复用样式请和作者联系
 * @网站: https://www.imsle.com
 * @说明: scss 变量池
*/


// 自适应变量map
$research-medias: (
        xs: 768px,  // 当设备宽度 ≤ 768px 的时候，一般指手机设备
        sm: 768px,  // 当设备宽度 ≥ 768px 的时候，一般指平板设备
        md: 992px,  // 当设备宽度 ≥ 992px 的时候，一般指中型台式机
        lg: 1200px  // 当设备宽度 ≥ 1200px 的时候，一般指大型台式机
);